# Rust
/target
Cargo.lock

# Node / JS
node_modules
dist
.env

# Tauri
src-tauri/target
src-tauri/gen

# IDEs
.idea
.vscode
*.sublime-project
*.sublime-workspace

# OS
Thumbs.db
.DS_Store

# Svelte Kit
/.svelte-kit
/build

# Oxide specific
docs/temp_*
.pi/
